@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
  accent-color: var(--foreground);
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background-color: var(--foreground);
  border-color: var(--foreground);
}
